<launch>
    <!-- Launch the umi_pose_publisher node -->
    <node name="umi_pose_publisher" pkg="hhi_force" type="umi_pose_publisher.py" output="screen" />

    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hhi_force)/config/umi_pose_publisher.rviz" output="screen" />
</launch>